{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<div class="image-aboutus-banner">
   <div class="container">
    <div class="row">
        <div class="col-md-12">
         <h1 class="lg-text">Kontakt uns</h1>
         <p class="image-aboutus-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
       </div>
    </div>
</div>
</div>
 <div class="container paddingTB60">
    <div class="wrapper">
        <div class="row">
            <div class="col-8">
                {{ form_start(contact_form) }}
                    <div class="mb-3">
                        <label class="form-label" for="name">Name</label>
                        {{ form_errors(contact_form.name) }} 
                        {{ form_widget(contact_form.name, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="emailAddress">Email Address</label>
                        {{ form_errors(contact_form.from) }} 
                        {{ form_widget(contact_form.from, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="message">Message</label>
                        {{ form_errors(contact_form.message) }} 
                        {{ form_widget(contact_form.message, {'attr': {'class': 'form-control', 'rows': 3}}) }}
                    </div>
                
                    {# <button class="btn btn-primary" type="submit">Senden</button> #}
                    <div class="d-grid">
                        <button class="btn btn-primary btn-lg" type="submit">Senden</button>
                    </div>
                {{ form_end(contact_form) }}
            </div>
            <div class="col-4">
                <div class="card bg-link-light mb-3">
                <div class="card-header text-black"><h4>Andere Möglichkeiten zum Kontaktieren</h4></div>
                    <div class="card-body">
                        <h5 class="card-title text-black">Senden Sie uns eine E-Mail auf: </h5>
                        <p class="card-text ">test@test.de.</p>
                        <h5 class="card-title text-black">Rufen Sie uns an: </h5>
                        <p class="card-text ">12345678</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
    <footer class="bg-dark text-center text-white fixed-bottom" >{% include "layout/footer.html.twig" %} </footer>
{% endblock %} 